/* todas as mensagens são para me localizar e caso voce esteja vendo isso pessoalmente 
fale sonho de batata  */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* talvez consiga ajudar no espaçamento, não coloco muita fé(ps: ajuda um pouco) */
header{
   color: white;
   background-color: #222;
  display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 5px 0px;
  
}
/* tive que criar uma clase pra ficar um pouquinho bonito */

.logo{
    padding: 0px 20px;
}
/* josa pra arrumar a fonte e os outro baguio */
a{
   color: white;
   font-size: medium; 
   font-family: Arial, sans-serif;
   text-decoration: none;
   
 
}
/* final da josaaaa */

/* milagre divino pra arrumar o esaçamento das palavras */
  nav ul{
    list-style: none;
 display: flex;
 padding: 5px 50px;
 gap: 30px

  }
  /* terminamos a logo aaaaaaeeeeee */

  /* tcham no texto pricipal */
  /* começo da tortura */
  /* mudança no texto flexbox*/
  h3{
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px 0px;
  }
/* mudança na legenda */
  p{ 
    opacity: 0.5;
     text-align: center;
      font-family: Arial, sans-serif;
      font-size: small;
  }
/* ajuste nas imagens */
 
  

 
 /* começo do query */
@media (min-width: 1830px) and (max-width: 1920px) {
section{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  padding: 20px 50px;
   justify-content: flex-start;
    
 }
 img{
    width: 300px;
    height: auto;
  

 }
 
.imagem6{
 width: 620px;
 height: auto;
 

  }
  }

  @media (min-width: 1476px) and (max-width: 1830px) {
section{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  padding: 20px 50px;
   justify-content: flex-start;
    
 }
 img{
    width: 300px;
    height: auto;
  

 }
 
.imagem6{
 width: 600px;
 height: auto;
 

  }
  .imagem5{
 width: 600px;
 height: auto;
 

  }
  }


 @media (min-width: 1200px) and (max-width: 1476px) {
section{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  padding: 20px 50px;
   justify-content: center;
    
 }
 img{
    width: 350px;
    height: auto;
     

 }
 .imagem6{
 width: 350px;
 height: auto;


  }
  .imagem5{
 width: 350px;
 height: auto;
 

  }
}


@media (min-width: 1085px) and (max-width: 1200px) {
section{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  padding: 20px 50px;
   justify-content: center;
    
 }
 img{
    width: 290px;
    height: auto;
     

 }
 .imagem6{
 width: 290px;
 height: auto;


  }
  .imagem5{
 width: 290px;
 height: auto;
 

  }
}

@media (min-width: 924px) and (max-width: 1084px){

section{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  padding: 20px 50px;
   justify-content: center;
    
 }
 img{
    width: 400px;
    height: auto;
     

 }
 .imagem6{
 width: 400px;
 height: auto;


  }
  .imagem5{
 width: 400px;
 height: auto;

}
}

@media (min-width: 800px) and (max-width: 924px){

section{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  padding: 20px 50px;
   justify-content: center;
    
 }
 img{
    width: 300px;
    height: auto;
     

 }
 .imagem6{
 width: 300px;
 height: auto;


  }
  .imagem5{
 width: 300px;
 height: auto;

}
}

@media (min-width: 715px) and (max-width: 800px){

section{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  padding: 20px 50px;
   justify-content: center;
    
 }
 img{
    width: 295px;
    height: auto;
     

 }
 .imagem6{
 width: 295px;
 height: auto;


  }
  .imagem5{
 width: 295px;
 height: auto;

}
}

@media (min-width: 669px) and (max-width: 715px){

section{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  padding: 20px 50px;
   justify-content: center;
    
 }
 img{
    width: 500px;
    height: auto;
     

 }
 .imagem6{
 width: 500px;
 height: auto;


  }
  .imagem5{
 width: 500px;
 height: auto;

}
}

@media (max-width: 668px){
    .logo{
        padding: 20px 50px;
        font-size: xx-large;
    }
   nav ul{
    display: block;
    font-size: medium;
    padding: 20px 20px;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 20px 50px;
    

   }
   li{
    background-color: grey;
    margin: 5px 5px
   
   }

section{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 20px 50px;
    justify-content: center;
 }
 img{
    width: 300px;
    height: auto;
 }
 .imagem6{
 width: 300px;
 height: auto;


  }
  .imagem5{
 width: 300px;
 height: auto;

}
}
/* eu vou ser sincero, eu podia ter feito melhor, com menos linhas e tal mas ta acontecendo
 tanta coisa na minha que ta dificil de respirar, espero que não tenha uma nota destinada ao quao bom é o código porque se não :| */